
body {
    background-color: black;
}

.site {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

p {
    color: white;
    display: flex;
    padding-bottom: 0;
    font-family: 'Open Sans',sans-serif;
    opacity: .69;

}
img {
    display: flex;
    padding-top: 25%;
}

h3 {
    color: white;
    padding-bottom: 0;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
}
    
.sections {
    background-color: white;
    padding: 2% 8% 2% 8%;
}
    

.logo {
    /*  flex-grow: 1; helps a lot here */
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





@media screen and (min-width:600px){


    .site {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        /* min-height: 100vh; */
    }
    .logo {
        /*  flex-grow: 1; helps a lot here */
        /* flex-grow: 1;  */
        display: flex;
        flex-direction: row;
       
    }
    img {
        width: 280px;
        height: auto;
        padding: 0 20px 0 30px;
    }

    .section {
        padding-left: 50px;
        padding-bottom: 50px;
        

       
    }


    h3 {
         font-size: 1.3rem;

    }

    .sections {
        
        padding: 20% 16% 20% 16%;
    }

    .site-footer {
        padding-bottom: 50px;
        padding-left: 50px;
        font-size: 1.2rem;
    }





}