body {
  background-color: black;
  min-height: 100vh;
}
main {
  height: 100vh;
}

p {
  color: white;
  font-family: "Open Sans", sans-serif;
}
img {
  display: flex;
  padding-top: 25%;
}

h3 {
  color: white;
  padding-bottom: 3%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.section {
  padding: 20%;
}

.sections {
  background-color: white;
  width: 100px;
  height: 30px;
  font-size: 16px;
}

.logo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.storys {
  width: 100%;
  position: relative;
}
.articles .storys {
  height: 450px;
  background-size: cover;
}
.story-text {
  bottom: 0;
  margin: 0;
  padding: 40px 120px 40px 120px;

  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.site-footer {
  font-size: 16px;
  margin: 20px;
}

@media screen and (min-width: 600px) {
  .articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    .storys {
      flex-direction: row;
      flex-grow: 1;
      flex-basis: 33%;
      position: relative;
    }
    .story-text {
      padding: 5px 20px 25px 10px;
    }
  }
  .articles .storys {
    height: 300px;
  }
  .site {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    flex-direction: row;
    height: 80vh;
  }
  img {
    width: 280px;
    height: auto;
    padding: 0 20px 0 30px;
  }

  .section {
    padding-left: 50px;
    padding-bottom: 50px;
  }

  h3 {
    font-size: 1.3rem;
  }

  .sections {
    padding: 20% 16% 20% 16%;
  }

  .site-footer {
    padding-bottom: 50px;
    padding-left: 50px;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1000px) {
  main {
    display: flex;
    text-align: left;
    width: 100%;
    padding-top: 50px;
  }
  .section {
    padding-bottom: 15%;
  }
  .logo {
    display: flex;
    justify-content: flex-start;
    align-self: center;
  }
  .articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    .storys {
      flex-direction: row;
      flex-grow: 1;
      flex-basis: 25%;
      position: relative;
    }
  }
}
