body {
  background-color: black;
  min-height: 100vh;
}
.site_header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.scale_header {
    height: 45vh;
    .logo {
      width: 180px;
      height: 180px;
    }
  }

  @include tablet {
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    &.scale_header {
      height: 20vh;
      .logo {
        width: 100px;
        height: 100px;
      }
    }
  }
  @include desktop {
    height: 80vh;
    display: flex;
    justify-content: flex-start;
  }
}

p {
  color: $primary-color;
  font-family: "Open Sans", sans-serif;
}

h3 {
  color: $primary-color;
  margin: 10% 0% 10%;
  font-family: "Open Sans", sans-serif;
  font-size: $primary-font-size;
  font-weight: 300;

  @include tablet {
    font-size: 1.3rem;
  }
}
.sections {
  background-color: $primary-color;
  padding: 0.5rem;
  font-size: $primary-font-size;
  margin-left: 12%;
  @include tablet {
    margin: 1% 10% 20% 16%;
  }
  @include desktop {
    margin: 1% 10% 20% 16%;
  }
}

.section {
  margin: 5% 0 0 0;
  @include desktop {
    margin-bottom: 5%;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  @include tablet {
    display: flex;
    flex-direction: row;
  }
  @include desktop {
    display: flex;
    justify-content: flex-start;
    align-self: center;
  }
}
.spin {
  display: none;
  padding-bottom: 10%;
  padding-left: 40%;
  img {
    width: 100px;
    transition: 3s;
  }
}

.storys {
  width: 100%;
  position: relative;
  @include tablet {
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 50%;
    position: relative;
  }
  @include desktop {
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 25%;
    position: relative;
  }
}
.articles {
  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
.articles .storys {
  height: 450px;
  background-size: cover;
  width: 100%;
  @include tablet {
    height: 300px;
  }
}
.story-text {
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 5% 1% 5% 1%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.note {
  display: flex;
  justify-content: center;
  @include tablet {
    margin-left: 30%;
  }
  @include desktop {
    margin: 0% 3% 0;
  }
}
.site-footer {
  font-size: $primary-font-size;
  margin: 5% 0 3% 28%;
  color: #c2c2c2;
  @include tablet {
    margin: 5% 0 0 35%;
    font-size: $primary-font-size;
  }
  @include desktop {
    margin-left: 2rem;
  }
}
